<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.touristguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EnWelcomePageActivity"
            android:label="Welcome" />
        <activity
            android:name=".FiveItemsActivity"
            android:label="List of Items" />
        <activity
            android:name=".HeadLampActivity"
            android:label="@string/head_lamp_name" />
        <activity
            android:name=".DryLiteTowelActivity"
            android:label="@string/dry_lite_towel_name" />
        <activity
            android:name=".WaterFilter"
            android:label="@string/water_filter_name" />
        <activity
            android:name=".DoorStop"
            android:label="@string/door_stop_name" />
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/feedback_name" />
        <activity
            android:name=".PashminaActivity"
            android:label="@string/pashmina_name" />
    </application>

</manifest>